<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Edit Doctor</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <form role="form" method="post" th:action="@{/doctors/{user_id}/edit(user_id=${doctor.user_id})}" th:object="${doctor}">
                <input type="hidden" th:feild="*{user_id}">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="first_name">First Name</label>
                            <input type="text" class="form-control" id="first_name" name="first_name"
                                   th:field="*{first_name}" placeholder="First Name">
                            <p th:if="${#fields.hasErrors('first_name')}" class="text-danger"
                               th:errors="*{first_name}"></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="last_name">Last Name</label>
                            <input type="text" class="form-control" id="last_name" name="last_name" th:field="*{last_name}"
                                   placeholder="Last Name">
                            <p th:if="${#fields.hasErrors('last_name')}" class="text-danger" th:errors="*{last_name}"></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="date_of_birth">DOB</label>
                            <input type="text" class="form-control" id="date_of_birth" name="date_of_birth"
                                   th:field="*{date_of_birth}" placeholder="DOB">
                            <p th:if="${#fields.hasErrors('date_of_birth')}" class="text-danger"
                               th:errors="*{date_of_birth}"></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" id="address" name="address" th:field="*{address}"
                                   placeholder="Address">
                            <p th:if="${#fields.hasErrors('address')}" class="text-danger" th:errors="*{address}"></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="phone_number">Phone Number</label>
                            <input type="text" class="form-control" id="phone_number" name="phone_number"
                                   th:field="*{phone_number}" placeholder="Phone Number">
                            <p th:if="${#fields.hasErrors('phone_number')}" class="text-danger"
                               th:errors="*{phone_number}"></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" name="email" th:field="*{email}"
                                   placeholder="Email">
                            <p th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="*{email}"></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="department">Department</label>
                            <input type="text" class="form-control" id="department" name="department"
                                   th:field="*{department}" placeholder="Department">
                            <p th:if="${#fields.hasErrors('department')}" class="text-danger"
                               th:errors="*{department}"></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="specialize">Specialize</label>
                            <input type="text" class="form-control" id="specialize" name="specialize" th:field="*{specialize}"
                                   placeholder="Specialize">
                            <p th:if="${#fields.hasErrors('specialize')}" class="text-danger" th:errors="*{specialize}"></p>
                        </div>
                    </div>
                </div>
                <div class="mx-0 my-0 mt-3 row ">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </section>
</main>
</body>
</html>
